name: PHP Checks

on: [push, pull_request]

env:
    PHP_EXTENSIONS: "intl, mbstring, json, zip, curl"

jobs:
    php-lint:
        name: "PHP Lint"
        runs-on: ubuntu-20.04
        strategy:
            matrix:
                php-version:
                    - "7.4"
                    - "8.0"
                    - "8.1"
                    - "8.2"
        steps:
            -
                name: "Checkout"
                uses: "actions/checkout@v2"
            -
                name: "Setup PHP"
                uses: "shivammathur/setup-php@v2"
                with:
                    php-version: "${{ matrix.php-version }}"
                    coverage: none
                    tools: composer:v2
            - 
                name: "Run PHP lint"
                run: "composer tests:phplint"
    php-compatibility:
        name: "PHPCompatibility"
        runs-on: ubuntu-20.04
        needs: php-lint
        steps:
            -
                name: "Checkout"
                uses: actions/checkout@v2
            -
                name: "Install PHP"
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "8.1"
                    coverage: none
                    tools: composer:v2
            -
                name: Prepare TYPO3
                uses: ./.github/actions/t3prepare
                with:
                    php-version: ${{ matrix.php-version }}
            -
                name: "Run PHP CS with PHPCompatibility rule"
                run: "composer test:phpcompat ${{ matrix.php-version }}"
        strategy:
            fail-fast: false
            matrix:
                php-version:
                    - "7.4"
                    - "8.0"
                    - "8.1"
                    - "8.2"

    php-qs:
        name: "PHP QS"
        runs-on: ubuntu-20.04
        needs: php-lint

        strategy:
            matrix:
                command:
                    - "test:phpcs"
#                    - "test:phpmd"
#                    - "test:phpstan"
                php-version:
                    - "8.1"
        steps:
            - name: "Checkout"
              uses: "actions/checkout@v2"
            
            - name: Setup PHP
              uses: shivammathur/setup-php@master
              with:
                  php-version: "${{ matrix.php-version }}"
                  extensions: "${{ env.PHP_EXTENSIONS }}"
            -
                name: Prepare TYPO3
                uses: ./.github/actions/t3prepare
                with:
                    php-version: ${{ matrix.php-version }}
            -
                name: "Run command"
                run: "composer ${{ matrix.command }}"

#            - run: composer require friendsofphp/php-cs-fixer
#            - run: .Build/bin/php-cs-fixer fix --diff --dry-run


    php-unit:
        name: "PHP Unit"
        runs-on: "ubuntu-20.04"
        needs: ["php-lint", "php-qs"]

        strategy:
            fail-fast: false
            matrix:
                include:
                    -
                        typo3-version: "typo3/minimal:^10.4"
                        php-version: "7.4"
                    -
                        typo3-version: "typo3/minimal:^11.5"
                        php-version: "8.0"
                    -
                        typo3-version: "typo3/minimal:^12.4"
                        php-version: "8.1"
        
        steps:
            -
                name: "Checkout"
                uses: "actions/checkout@v2"
            -
                name: "Setup PHP"
                uses: "shivammathur/setup-php@v2"
                with:
                    php-version: "${{ matrix.php-version }}"
                    extensions: "${{ env.PHP_EXTENSIONS }}"
#            -
#                name: "Validate composer.json and composer.lock"
#                run: "composer validate --strict"
            -
                 name: "Show Composer version"
                 run: composer --version
            -
                name: "Determine composer cache directory"
                id: "determine-composer-cache-directory"
                run: echo "directory={$(composer config cache-dir)}" >> $GITHUB_OUTPUT
            -
                name: "Cache dependencies installed with composer"
                uses: "actions/cache@v4"
                with:
                    path: "${{ steps.determine-composer-cache-directory.outputs.directory }}"
                    key: "php-${{ matrix.php-version }}-composer-${{ hashFiles('composer.lock') }}"
                    restore-keys: "php-${{ matrix.php-version }}-composer-"
            -
                name: "Install composer dependencies"
                run: |
                    composer remove --no-update typo3/cms typo3/cms-core
                    composer require "${{ matrix.typo3-version }}"
            -
                name: "Run PHP unit tests"
                run: "composer test:phpunit"
